.hero {
    &__image {
        .image {
            width: 80%;
            margin: auto;
        }
    }
}

.main .dream-team {
    &__info {
        flex-basis: 33%;
    }

    &__image {
        max-width: 308px;
    }
}

#manager {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 25px;
    padding-bottom: 80px;

    .section__header {
        max-width: 750px;
    }
}

#request .card {
    max-width: 600px;
    margin: 0 auto;
}

.modal {
    &__body {
        padding: 20px;
    }
}

.product-card {
    .card__body {
        margin-top: auto;
    }
}