.header {
    --header-background-color: rgba(249, 244, 242, .75) !important;
    --header-font-color: var(--primary-color) !important;
    --header-blur: 5px !important;

    &__main {
        width: 100% !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
}