.checkout {
    .list-item {
        .radio {
            &__label {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.checkout-payment {
    display: flex;
    overflow: hidden;

    .spinner {
        margin: auto;
    }
}